pandas==2.2.2
Pillow==10.3.0
plotly==5.22.0
requests==2.31.0
streamlit==1.34.0
wbgapi==1.0.8
streamlit-lottie==0.0.3
scikit-learn==1.4.2
matplotlib==3.6.3
seaborn==0.12.2
missingno==0.5.2
kneed==0.8.5
